/* CSS Document */



.wp-vslider{
	border: 1px solid #ccc;
	margin: 25px 0;
}
.wp-vslider ul{
	padding: 0;
	list-style: none!important;
}
.wp-vslider li{
	padding: 20px;
	border-bottom: 1px dashed #ccc;
}
.wp-vslider li.odd{
	background: #fafafa;
}
.wp-vslider li:after {
	content: '';
	display: block;
	clear: both;
}
.wp-vslider img{
	float: left;
	width: 100px;
	margin: 5px 15px 0 0;
}



.et-run{
    background-color: #0cf;
    color: white;
    border: 1px solid black;
}
